.bin/
.idea/
.vscode/
node_modules/
*.iml
*.exe
.vagrant
*.log
*.stackdump
.DS_Store
.hydra.yml
cover.out
output/
_book/
dist/
coverage.*
Dockerfile-plugin-*
plugin-*.so
hydra-docker-bin
cookies.txt
vendor/
LICENSE.txt
./hydra
!./hydra/
hydra-login-consent-node
./cypress/screenshots
*-packr.go
consent/csrf_flagka.go
packrd/
persistence/sql/migrations/schema.sql
cypress/videos
cypress/screenshots
BENCHMARKS.md
*.sqlite
