.graph svg {
  max-width: 100%;
}

.pointer {
  cursor: pointer;
}

.graph {
  margin-bottom: var(--ifm-leading);
}

.graph.overlay.visible {
  display: block;
}

.graph.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 10000;
}

.graph.overlay .backdrop {
  position: absolute;
  top: 10%;
  left: 10%;
  right: 10%;
  bottom: 10%;
  background-color: white;
  text-align: center;
  cursor: default;
}

.graph.overlay .backdrop svg {
  margin: 0 auto;
  width: 100%;
}
