name: Docker Image Scan
on:
  push:
    branches:
      - 'master'
    tags:
      - 'v*.*.*'
  pull_request:
    branches:
      - 'master'

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Build images
        shell: bash
        run: |
          make docker
      - name: Scan image Alpine
        uses: anchore/scan-action@v3
        with:
          image: oryd/hydra:latest-alpine
          fail-build: true
          severity-cutoff: high
      - name: Scan image Sqlite
        uses: anchore/scan-action@v3
        with:
          image: oryd/hydra:latest-sqlite
          fail-build: true
          severity-cutoff: high
      - name: Scan image Scratch
        uses: anchore/scan-action@v3
        with:
          image: oryd/hydra:latest-scratch
          fail-build: true
          severity-cutoff: high
