name: Format

on:
  pull_request:
  push:
  merge_group:

jobs:
  format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          check-latest: true
          go-version-file: go.mod
      - run: make format
      - name: Indicate formatting issues
        run: git diff HEAD --exit-code --color
